<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- allows to switch in dev between text or json logs -->
        <if condition='property("textlogs").contains("true")'>
            <then>
                <encoder>
                    <pattern>%level %logger{15} - %message%n%xException{10}</pattern>
                </encoder>
            </then>
            <else>
                <!--
                 JSON logs
                 Easiest way to get the stacktraces in New Relic (because otherwise they are on multiple lines)
                -->
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <fieldNames>
                        <!-- name retro compatible with what we did earlier -->
                        <level>logLevel</level>
                        <logger>loggerName</logger>
                        <!-- remove these useless fields -->
                        <thread>[ignore]</thread>
                        <levelValue>[ignore]</levelValue>
                    </fieldNames>
                    <!-- remove application.home passed by Play -->
                    <includeContext>false</includeContext>
                </encoder>
            </else>
        </if>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <minimumEventLevel>ERROR</minimumEventLevel>
        <minimumBreadcrumbLevel>DEBUG</minimumBreadcrumbLevel>
    </appender>

    <logger name="play" level="DEBUG"/>
    <logger name="actors" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="authentication" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="config" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="controllers" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="loader" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="orchestrators" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="repositories" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="services" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="tasks" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="utils" level="${LOG_LEVEL:-DEBUG}"/>
<!--    <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG"/>-->
<!--    <logger name="com.zaxxer.hikari" level="TRACE"/>-->

<!--      <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG"/>-->
<!--      <logger name="slick.jdbc.JdbcBackend.parameter" level="DEBUG"/>-->

    <root level="TRACE">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>
    <root level="INFO">
        <appender-ref ref="Sentry"/>
    </root>

</configuration>
