<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play" level="INFO"/>
    <logger name="application" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="loader" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="actors" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="controllers" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="orchestrators" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="repositories" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="services" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="tasks" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="utils" level="${LOG_LEVEL:-DEBUG}"/>
    <logger name="org.flywaydb" level="ERROR"/>
    <!--          <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG"/>-->
    <!--          <logger name="slick.jdbc.JdbcBackend.parameter" level="DEBUG"/>-->

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>
